<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" > <!--parallel="true"  并行-->
        <listeners>
            <listener class-name="org.uncommons.reportng.HTMLReporter" />
            <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
        </listeners>
    <test name="Test" preserver-order="true" >
          <classes>
            <class name="com.sumavision.testcase.IPTV">
                <methods>
                    <include name="checkHome" />
                    <include name="moveFocus" />
                    <include name="inioLookBack" />
                    <include name="intoLookBackMore" />
                    <include name="intoVod" />
                    <include name="intoLive" />
                    <include name="playLive" />
                    <include name="playVod" />
                    <include name="playHDTimeShiftAndLive" />
                    <include name="play4kTimeShiftAndLive" />
                    <include name="playLiveSeek" />
                    <include name="playVodSeek" />
                    <include name="playLiveByRate" />
                    <include name="playVodByRate" />
                    <include name="cutChannel" />
                    <include name="cutChannelByFCC" />
                    <include name="setHDStartAndPause" />
                    <include name="set4KStartAndPause" />
                    <include name="setMute" />
                    <include name="setVolume" />
                    <include name="setChannel" />
                    <include name="fillLive" />
                    <include name="fillVod" />
                </methods>
            </class>
        </classes>
    </test><!--Test-->
</suite><!--Suite-->